In [60]:
import pandas as pd

In [61]:
#
https://www.faa.gov/licenses_certificates/aircraft_certification/aircraft_registry/releasable_aircraft_download/

In [81]:
data = pd.read_csv('ACFTREF.csv', sep=",", index_col= False)
display(data)

,CODE,MFR,MODEL,TYPE-ACFT,TYPE-ENG,AC-CAT,BUILD-CERT-IND,NO-ENG,NO-SEATS,AC-WEIGHT,SPEED,Unnamed: 11
0,0020901,AAR AIRLIFT GROUP INC,UH-60A,6,3,1,0,2,15,CLASS 3,0,NaN
1,0030109,EXLINE ACE-C,ACE-C,4,1,1,1,1,1,CLASS 1,82,NaN
2,003010D,DELEBAUGH,P,4,1,1,1,1,1,CLASS 1,82,NaN
3,003010H,DAL PORTO,BABY ACE D,4,1,1,1,1,1,CLASS 1,82,NaN
4,003010P,DUNN,BABY ACE,4,1,1,1,1,1,CLASS 1,82,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
86510,9970226,ZLIN,142C,4,1,1,1,1,2,CLASS 1,0,NaN
86511,9980000,ZLT ZEPPELIN LUFTSCHIFFTECHNIK,LZ N07-100,3,1,1,0,3,17,CLASS 1,0,NaN
86512,9980002,ZLT ZEPPELIN LUFTSCHIFFTECHNIK,LZ NO7-101,3,1,1,0,3,15,CLASS 2,0,NaN
86513,9999999,UNKNOWN,UNKNOWN,1,0,1,1,0,999,CLASS 4,0,NaN
86514,99999XX,UNKNOWN,UNKNOWN,4,1,1,1,1,2,CLASS 1,112,NaN

In [87]:
data.MFR.max().sort_values(ascending=False).iloc[:5].index()

AttributeError: 'str' object has no attribute 'sort_values'